  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';


  /*                         */
 /* Project-specific styles */
/*                         */

// Enter your custom styles here.
// makes dropdown visible
    .content-well {
      overflow: visible;
    }

// responsive table
/* Generic styling  */
table{
  width: 100%;
  margin: 0 auto;
  // border-collapse: collapse;
}
/* Zebra stripping  */
tr:nth-of-type(odd){
  background: #eee;
}

th{
  background: #111;
  color: #fff;
}
td, th {
  border: 1px solid #ccc;
  text-align: center;
	padding: 10px;
}

.copy {
	padding: 5px;
}
